@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap');
:root{
    --neon-green:#16F28B;
   --blue:  #094EFF;
   --grey:rgb(225,225,231);
   --black:rgb(11,11,11);
   --tinted-blue:#F5FBFF;
}
body{
    margin: 0;
    padding: 0;
    /* background-color: var(--tinted-blue); */
	font-family: 'Inter', sans-serif !important;
	/* background: linear-gradient(180deg, #64F2AE 0%, #5383EC 100%); */
	background-color:  #ecf0f3!important;
}
main{
    width: 88%;
    margin-top: 5%;
    border-radius: 2rem 2rem 0 0;
    height: auto;
    padding-bottom: 2rem;
}
.main{
    display: flex;
    justify-content: center;
}
main h1{
    font-weight: 300!important;
    color: var(--black);
    text-align: center;
    font-size: 2.5rem;
    padding-top: 3.5rem;
}

P{  font-weight: 200;
	text-align: center;
	font-size: 1rem;

}
.timeinput{

    margin-top: 1rem;
	display: flex !important;
	justify-content: center !important;
}

#select-day{
    margin-right: 2rem;
}
.elevator-sec .title{
	display: flex;
	align-items: center;
	margin-left: 1rem;
	margin-top: 1.5rem;
}
.elevator-sec .title .one{
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 800;
    margin-right: 1rem;
	color: blue;
	background-color: #f2f2f2 !important;
	box-shadow:  -7px -7px 20px #fff9,
	-4px -4px 5px 0px #fff9,
	7px 7px 20px 0px #0001,
	4px 4px 5px 0px #0001,
	inset 0px 0px 0px 0px #fff9,
	inset 0px 0px 0px 0px #0001,
	inset 0px 0px 0px 0px #fff9,
	inset 0px 0px 0px 0px #0001!important;
}
.timeinput {
display: flex;
justify-content: center !important;
width: 350px;
}
.timeinput label{
	color: var(--blue) ;
}
.timeinput select {
	width: 19rem;
	height: 2.3rem;
	margin-top: 0.7rem;
	border-radius: 1.5rem;
	/* box-shadow: 2px 2px 27px -15px; */
	border: none;
	padding-left: 3rem;
	margin-bottom: 1rem;
	box-shadow: 2px 2px 27px -15px;
	background-color: #f2f2f2 ;
	box-shadow:  -7px -7px 20px #fff9,
	-4px -4px 5px 0px #fff9,
	7px 7px 20px 0px #0001,
	4px 4px 5px 0px #0001,
	inset 0px 0px 0px 0px #fff9,
	inset 0px 0px 0px 0px #0001,
	inset 0px 0px 0px 0px #fff9,
	inset 0px 0px 0px 0px #0001!important;
}
.timeinput select:focus, .timeinput select:hover{
	border: 2px solid var(--blue)!important;
}

.timeinput .form-1{
	position: relative;
}
.timeinput .form-1 label{
	position: absolute;
	left: 1.2rem;
	top: 1.2rem;
}
.timeinput .form-2{
	position: relative;
}
.timeinput .form-2 label{
	position: absolute;
	left: 1.2rem;
	top: 1.2rem;
}
.grid-wrapper{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .grid-wrapper .elevator{
    width: 10rem;
    height: 10rem;
    margin-bottom: 5rem;
    /* background-color: var(--grey); */
 	border-radius: 1rem;
	 /* background-color: #f2f2f2 !important;
	 box-shadow:  -7px -7px 20px #fff9,
	 -4px -4px 5px 0px #fff9,
	 7px 7px 20px 0px #0001,
	 4px 4px 5px 0px #0001,
	 inset 0px 0px 0px 0px #fff9,
	 inset 0px 0px 0px 0px #0001,
	 inset 0px 0px 0px 0px #fff9,
	 inset 0px 0px 0px 0px #0001 !important; */
  }
  h5{
    font-weight: 400!important;
	text-align: center;
  }
  button{
    border:none!important;
    box-shadow:none!important ;
    border-radius: 1rem;
    background-color: transparent!important;
  }

  .grid-wrapper .elevator img{
   width: 100%;
   border-radius: 1rem;
   background-color: #f2f2f2 !important;
   box-shadow: 2px 1px 12px #cbced1, -3px 2px 20px #ffffff;
  }

  .grid-wrapper .elevator{
    /* border: 2px solid var(--neon-green)!important; */
    transition: all ease 0.1s;

  }
  .grid-wrapper .elevator:hover{
	border: 2px solid var(--blue)!important;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
  .progress-container{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
	width: 200px;
	/* border: 5px solid #7F56D9; */
	margin: auto;
  	border-radius: 50%;
  	background: 
    radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(var(--neon-green 75%), lightgrey 0);
	/* content: "75%"; */
	font-size: 2em;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.progress{
position: relative;
height: 160px;
width: 160px;
cursor: pointer;
margin: auto;
}
.progress-circle{
	transform: rotate(0deg);
	margin-top: 4px;
}
.progress-circle-back{
	fill: none;
	stroke: var(--grey);
	stroke-width: 10px;
}
.progress-circle-prog{
	fill: none;
	stroke: var(--blue) !important;
	stroke-width: 10px;
	stroke-dasharray: 0 999;
	stroke-dashoffset:  0px;
	transition: stroke-dasharray 0.7s linear 0s;
}
.progress-text{
	width: 100%;
	position: absolute;
	top: 53px;
	text-align: center;
	font-size: 2rem;
}
.progress-container-wrapper{
	position: relative;
}
.progress-title{
	position: absolute;
	top: 1.4rem;
	left: 8.3rem;
	
}
.progress-title p {
	font-weight: 600 !important;
	font-size: 12px !important;
	
}
.elevator{
	display: none;
}
.go-back{
	margin-left: 1.4rem;
padding-top: 1rem!important;
}
.elevator-sec .subtitle{
text-align: left;
font-size: 14px;
margin-left: 1.6rem;
font-weight:400;
margin-right: 0.7rem;
}
.elevator-sec .elevator-directions{
	/* border: 2px solid var(--neon-green); */
	padding: 0.6rem;
	border-radius: 1rem;
	width: 17rem;
	margin: 0 auto;
	/* background-color: white; */
	/* box-shadow: 2px 2px 27px -15px; */
	background-color: #f2f2f2 !important;
	box-shadow:  -7px -7px 20px #fff9,
	-4px -4px 5px 0px #fff9,
	7px 7px 20px 0px #0001,
	4px 4px 5px 0px #0001,
	inset 0px 0px 0px 0px #fff9,
	inset 0px 0px 0px 0px #0001,
	inset 0px 0px 0px 0px #fff9,
	inset 0px 0px 0px 0px #0001!important;
}
.elevator-sec .elevator-directions p{
	font-size: 13px;
	font-weight: 400;
	text-align: left;
	padding: 0.5rem !important;
	margin: 0!important;
	margin-bottom: 0.4rem !important;
}
.elevator-sec .elevator-directions h4{
	padding: 0!important;
	margin: 0 !important;
	padding-left: 0.8rem !important;
}
.elevator-sec .elevator-directions .icon-div{
	display: flex;
	align-items: center;
	margin-bottom: 0.4rem;
	margin-top: 0.4rem;
}
.elevator-sec .elevator-directions .icon-div i{
	color: var(--blue);
	padding-left: 0.2rem;
}
.elevator-sec .end-button{
	display: flex;
	justify-content: center;
	margin-top: 1.5rem;
}
.elevator-sec .end-button button{
	/* background-color: var(--neon-green) !important; */
	color: var(--blue);
	border-radius: 1.5rem;
	width: 19rem;
	height: 2.3rem;
	margin: 0 auto;
	background-color: #f2f2f2 !important;
box-shadow:  -7px -7px 20px #fff9,
-4px -4px 5px 0px #fff9,
7px 7px 20px 0px #0001,
4px 4px 5px 0px #0001,
inset 0px 0px 0px 0px #fff9,
inset 0px 0px 0px 0px #0001,
inset 0px 0px 0px 0px #fff9,
inset 0px 0px 0px 0px #0001 !important;
}
.elevator-sec .end-button button:hover, .elevator-sec .end-button button:focus {

	background-color: #f2f2f2 !important;
	box-shadow:  -7px -7px 20px #fff9,
	-4px -4px 5px 0px #fff9,
	7px 7px 20px 0px #0001,
	4px 4px 5px 0px #0001,
	inset 0px 0px 0px 0px #fff9,
	inset 0px 0px 0px 0px #0001,
	inset 0px 0px 0px 0px #fff9,
	inset 0px 0px 0px 0px #0001 !important;
	border: 2px solid var(--blue);

}
/* GOOGLE MAPS STYLING */

#googleMap{
	width: 88%;
	height: 400px;
	margin: 10px auto;
	border-radius: 0.5rem;
	background-color: #f2f2f2 !important;
	box-shadow:  -7px -7px 20px #fff9,
	-4px -4px 5px 0px #fff9,
	7px 7px 20px 0px #0001,
	4px 4px 5px 0px #0001,
	inset 0px 0px 0px 0px #fff9,
	inset 0px 0px 0px 0px #0001,
	inset 0px 0px 0px 0px #fff9,
	inset 0px 0px 0px 0px #0001 !important;
}
.google-map-actual{
	margin:  2rem 0;
}
.google-maps-sec{
	margin-left: 1rem;
	margin-right: 1rem;
	margin-top: 1.5rem;
}
.google-maps-sec .form-group{
	display: flex;
}
.google-maps-sec .title{
	display: flex;
	align-items: center;
	margin-left: 1rem;
}
.google-maps-sec .title .one{
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	/* border: 3px solid var(--neon-green); */
	/* background-color: var(--neon-green); */
	/* color: white; */
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 800;
    margin-right: 1rem;
	color: var(--blue);
	background-color: #f2f2f2 !important;
	box-shadow:  -7px -7px 20px #fff9,
	-4px -4px 5px 0px #fff9,
	7px 7px 20px 0px #0001,
	4px 4px 5px 0px #0001,
	inset 0px 0px 0px 0px #fff9,
	inset 0px 0px 0px 0px #0001,
	inset 0px 0px 0px 0px #fff9,
	inset 0px 0px 0px 0px #0001 !important;
}
.google-maps-sec .form-1 input{
width: 16rem;
height: 2rem;
margin-top: 1rem;
border-radius: 1.5rem;
border: none;
background-color: #f2f2f2;
box-shadow:  -7px -7px 20px #fff9,
-4px -4px 5px 0px #fff9,
7px 7px 20px 0px #0001,
4px 4px 5px 0px #0001,
inset 0px 0px 0px 0px #fff9,
inset 0px 0px 0px 0px #0001,
inset 0px 0px 0px 0px #fff9,
inset 0px 0px 0px 0px #0001 ;
/* border: none; */
padding-left: 3rem;
}
.google-maps-sec .form-1 .origin-input{
	display: flex;
	align-items: center;
	justify-content: center;
}
.google-maps-sec .form-1 .destination-input{
	display: flex;
	align-items: center;
	justify-content: center;

}
.google-maps-sec form label{
	color: var(--blue) !important;
}
.google-maps-sec .form-2{
	display: flex;
	justify-content: center;
}
input:focus-visible , input:hover , input:focus , select:hover, select:focus select:focus-visible{
	border: 2px solid var(--blue) !important;
	outline: var(--blue);
}
.google-maps-sec .form-2 select{
	border-radius: 1.5rem;
	height: 2rem;
	margin-top: 1rem;
	border-radius: 2.5rem;
	border: none;

	width: 9.2rem;
	/* margin-top: 0.7rem; */
	padding: 0.2rem!important;
	padding-left: 0.7rem!important;
	background-color: #f2f2f2;
	box-shadow:  -7px -7px 20px #fff9,
	-4px -4px 5px 0px #fff9,
	7px 7px 20px 0px #0001,
	4px 4px 5px 0px #0001,
	inset 0px 0px 0px 0px #fff9,
	inset 0px 0px 0px 0px #0001,
	inset 0px 0px 0px 0px #fff9,
	inset 0px 0px 0px 0px #0001 !important;
	/* border: none; 
}
.google-maps-sec .form-2 .map-select{
	background-color: #f2f2f2 !important;
	box-shadow:  -7px -7px 20px #fff9,
	-4px -4px 5px 0px #fff9,
	7px 7px 20px 0px #0001,
	4px 4px 5px 0px #0001,
	inset 0px 0px 0px 0px #fff9,
	inset 0px 0px 0px 0px #0001,
	inset 0px 0px 0px 0px #fff9,
	inset 0px 0px 0px 0px #0001 !important;
}
.google-maps-sec .form-2 option{
	/* padding-right: 0.3rem; */
}
.google-maps-sec .form-2 .stops-input{
	margin-left: 0.8rem;

}
.google-maps-sec .btn-info{
    width: 18.8rem;
    height: 2.3rem;
	border-radius: 1.5rem;
	border: none;
	padding-left: 0.5rem;
	margin-top: 1rem;
	/* background-color: var(--neon-green) !important; */
	color: var(--blue);
	background-color: #f2f2f2 !important;
	box-shadow:  -7px -7px 20px #fff9,
	-4px -4px 5px 0px #fff9,
	7px 7px 20px 0px #0001,
	4px 4px 5px 0px #0001,
	inset 0px 0px 0px 0px #fff9,
	inset 0px 0px 0px 0px #0001,
	inset 0px 0px 0px 0px #fff9,
	inset 0px 0px 0px 0px #0001!important;
	
	
}
.google-maps-sec .map-btn button:hover , .google-maps-sec .map-btn button:focus{
	/* background-color:var(--neon-green)!important; */
	border: none !important;
	color: var(--blue);
	border: 2px solid var(--blue)!important;
	background-color: #f2f2f2 !important;
	box-shadow:  -7px -7px 20px #fff9,
	-4px -4px 5px 0px #fff9,
	7px 7px 20px 0px #0001,
	4px 4px 5px 0px #0001,
	inset 0px 0px 0px 0px #fff9,
	inset 0px 0px 0px 0px #0001,
	inset 0px 0px 0px 0px #fff9,
	inset 0px 0px 0px 0px #0001 !important;
}
.time-js{
	font-weight: 600;
	margin-right: 0.5rem;
	color: var(--blue);
}
.next-page-js{
	color: var(--blue);
	font-size: 31px;
	margin-left: 1.3rem;
}
a{
	text-decoration: none!important;
	color: inherit !important;
}
.origin-input{
	position: relative;
}
.origin-input label{
	position: absolute;
	top: 1.5rem;
	left: 2.4rem;
}
.destination-input{
	position: relative;
}
.destination-input label{
	position: absolute;
	top: 1.5rem;
	left: 2.4rem;
}
.map-btn{
display: flex;
	justify-content: center;
	margin-bottom: 3rem;	
}
.alert-info-js{
	width: 17rem;
    /* height: 2rem; */
    border-radius: 0.8rem;
    border: none;
    padding: 0.7rem;
    margin-top: 0.7rem;
    margin: 0 auto;
    margin-top: 0.7rem;
	font-size: 14px!important;
	/* background-color: white!important; */
	display: flex;
	align-items: center;
	background-color: #f2f2f2;
	box-shadow:  -7px -7px 20px #fff9,
	-4px -4px 5px 0px #fff9,
	7px 7px 20px 0px #0001,
	4px 4px 5px 0px #0001,
	inset 0px 0px 0px 0px #fff9,
	inset 0px 0px 0px 0px #0001,
	inset 0px 0px 0px 0px #fff9,
	inset 0px 0px 0px 0px #0001 ;
}
.add-time-js{
	margin-left: 0.4rem;
	font-size: 10px!important;
	margin-right: 0.4rem;
}
.mode-js{
	color: var(--blue);
	margin-right: 0.5rem;

}
/* feedback-page */
#feedback-page .title{
	display: flex;
	align-items: center;
	padding-left: 2rem;
	margin-top: 3rem;
}
#feedback-page .title .three{
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 800;
    margin-right: 1rem;
	color: blue;
	background-color: #f2f2f2 !important;
	box-shadow:  -7px -7px 20px #fff9,
	-4px -4px 5px 0px #fff9,
	7px 7px 20px 0px #0001,
	4px 4px 5px 0px #0001,
	inset 0px 0px 0px 0px #fff9,
	inset 0px 0px 0px 0px #0001,
	inset 0px 0px 0px 0px #fff9,
	inset 0px 0px 0px 0px #0001!important;
}
.feedback-wrapper{
	
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.feedback-page{
	
	min-height: 380px;
	box-shadow:  -7px -7px 20px #fff9,
	-4px -4px 5px 0px #fff9,
	7px 7px 20px 0px #0001,
	4px 4px 5px 0px #0001,
	inset 0px 0px 0px 0px #fff9,
	inset 0px 0px 0px 0px #0001,
	inset 0px 0px 0px 0px #fff9,
	inset 0px 0px 0px 0px #0001 ;
	width: 280px;
	margin: 0 auto;
	margin-top: 4rem;
	padding: 1rem;
	border-radius: 1rem;

	text-align: center;
	

}
.feedback-page .check-icon{
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	box-shadow:  -7px -7px 20px #fff9,
	-4px -4px 5px 0px #fff9,
	7px 7px 20px 0px #0001,
	4px 4px 5px 0px #0001,
	inset 0px 0px 0px 0px #fff9,
	inset 0px 0px 0px 0px #0001,
	inset 0px 0px 0px 0px #fff9,
	inset 0px 0px 0px 0px #0001 ;
	background-color: #f2f2f2;	
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 800;
	margin: 0 auto;
	margin-top: 1rem;
	color: var(--blue);
}
.feedback-page p{
	text-align: center;
	margin-top: -0.5rem;	
	font-size: 14px;

}
.feedback-page form{
	position: relative;
	margin-top: -0.5rem;
	
}
.feedback-page h5{
	margin: 0!important;
	padding: 0 !important;
	margin-top: 2rem !important;
	font-weight: 700 !important;
	text-align: left !important;
	padding-left: 0.9rem !important;
}
.feedback-page form select{
	width: 16rem;
	border: none;
	border-radius: 2.5rem;
	height: 2.5rem;
	padding-left: 2.3rem;
	box-shadow:  -7px -7px 20px #fff9,
	-4px -4px 5px 0px #fff9,
	7px 7px 20px 0px #0001,
	4px 4px 5px 0px #0001,
	inset 0px 0px 0px 0px #fff9,
	inset 0px 0px 0px 0px #0001,
	inset 0px 0px 0px 0px #fff9,
	inset 0px 0px 0px 0px #0001 ;
	background-color: #f2f2f2;	
}
.feedback-page label {
	position: absolute;
	top: 1.7rem;
	left: 1.7rem;
	color: var(--blue);
}
.feedback-page .confirm-btn{
	margin: 0 auto;
}
.feedback-page .confirm-btn button{
	background-color: #c9d3dd !important;
	box-shadow:  -7px -7px 20px #fff9,
	-4px -4px 5px 0px #fff9,
	7px 7px 20px 0px #0001,
	4px 4px 5px 0px #0001,
	inset 0px 0px 0px 0px #fff9,
	inset 0px 0px 0px 0px #0001,
	inset 0px 0px 0px 0px #fff9,
	inset 0px 0px 0px 0px #0001 !important;	
	width: 16rem;
	border-radius: 2.5rem;
	height: 2.5rem;
	margin-top: 1rem;
}
.feedback-page .back-btn{
	margin: 0 auto;
}
.feedback-page .back-btn button{
	background-color: #f2f2f2;	
	box-shadow:  -7px -7px 20px #fff9,
	-4px -4px 5px 0px #fff9,
	7px 7px 20px 0px #0001,
	4px 4px 5px 0px #0001,
	inset 0px 0px 0px 0px #fff9,
	inset 0px 0px 0px 0px #0001,
	inset 0px 0px 0px 0px #fff9,
	inset 0px 0px 0px 0px #0001 !important;	
	border-radius: 2.5rem;
	width: 16rem;
	height: 2.5rem;
	margin-top: 1rem;
}
.feedback-page .back-btn button:hover, .feedback-page .back-btn button:focus , .feedback-page .confirm-btn button:hover, .feedback-page .confirm-btn button:focus , .feedback-page form select:hover , .feedback-page form select:focus{
	border: 2px solid var(--blue) !important;
}

.confirmation-wrapper{
	height: 100%;
	display: flex;
	justify-content: center;
}
.confirmation-page{
	width: 290px;
	height: 300px;
	background-color: #f2f2f2;
	box-shadow:  -7px -7px 20px #fff9,
	-4px -4px 5px 0px #fff9,
	7px 7px 20px 0px #0001,
	4px 4px 5px 0px #0001,
	inset 0px 0px 0px 0px #fff9,
	inset 0px 0px 0px 0px #0001,
	inset 0px 0px 0px 0px #fff9,
	inset 0px 0px 0px 0px #0001 ;
	margin-top: 10rem;
	text-align: center;
	border-radius: 1rem;
}
.confirmation-page .check-icon{
	width: 3rem;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--blue);
	background-color: #f2f2f2;
	box-shadow:  -7px -7px 20px #fff9,
	-4px -4px 5px 0px #fff9,
	7px 7px 20px 0px #0001,
	4px 4px 5px 0px #0001,
	inset 0px 0px 0px 0px #fff9,
	inset 0px 0px 0px 0px #0001,
	inset 0px 0px 0px 0px #fff9,
	inset 0px 0px 0px 0px #0001 ;
	margin: 0 auto;
	margin-top: 3.5rem;
	border-radius: 50%;
}
.confirmation-page h4 {
	margin-top: 2rem;
}
.confirmation-page .confirm-btn{
	margin: 0 auto;
	margin-top: 2rem;
}
.confirmation-page .confirm-btn button{
	background-color: #f2f2f2 !important;
	box-shadow:  -7px -7px 20px #fff9,
	-4px -4px 5px 0px #fff9,
	7px 7px 20px 0px #0001,
	4px 4px 5px 0px #0001,
	inset 0px 0px 0px 0px #fff9,
	inset 0px 0px 0px 0px #0001,
	inset 0px 0px 0px 0px #fff9,
	inset 0px 0px 0px 0px #0001 !important;
	width: 14rem;
	height: 2.5rem;
	color: var(--blue);
	border-radius: 2.3rem;
}
.confirmation-page .confirm-btn button:hover , .confirmation-page .confirm-btn button:focus{
	border: 2px solid var(--blue);
}
/* Loading-page */
.loading-page-wrapper{
	height: 100%;
	display: flex;
	justify-content: center;
}
.loading-page{
	min-height: 100%;
	text-align: center;
	margin-top: 6rem;
}
.loading-page .next-icon{
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	display: flex;
	margin: 0 auto;
	margin-top: 3rem;
	justify-content: center;
	align-items: center;
	font-size: 22px;
	color: var(--blue);
	background-color: #f2f2f2;
	box-shadow:  -7px -7px 20px #fff9,
	-4px -4px 5px 0px #fff9,
	7px 7px 20px 0px #0001,
	4px 4px 5px 0px #0001,
	inset 0px 0px 0px 0px #fff9,
	inset 0px 0px 0px 0px #0001,
	inset 0px 0px 0px 0px #fff9,
	inset 0px 0px 0px 0px #0001 ;
}
.loading-page h4{
	margin-top: 5rem;
}
.loading-page h3{
	margin-top: 3rem;
}
.loader{
	margin: 0 auto;
	border: 2px solid white;
	border-top: 2px solid var(--blue) ;
	border-radius: 50%;
	width: 3rem;
	height: 3rem;
	margin-top: 10rem;
	-webkit-animation: spin 1s linear infinite ;
	animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg);}
	100% { -webkit-transform: rotate(360deg);}
}
@keyframes spin {
	0% { -webkit-transform: rotate(0deg);}
	100% { -webkit-transform: rotate(360deg);}
}

/* .elevator-sec .title{
	display: flex;
	align-items: center;
	margin-left: 1rem;
}
.elevator-sec .title .one{
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	border: 3px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 800;
    margin-right: 1rem;
} */
  @media only screen and (max-width: 1100px) {
    .grid-container{
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media only screen and (max-width: 700px) {
    .grid-container {
      grid-template-columns: repeat(1, 1fr);
    }
    select {
        width: 8rem;
        height: 2rem;
    }
    main h1 {
        font-size: 2rem;
    }
    #select-day {
        margin-right: 1rem;
    }
  }
  @media only screen and (min-width: 1800px) {
main h1{
    font-size: 4rem;
}
select{
    width: 26rem;
height: 4.4rem;
font-size: 22px;
}
.grid-wrapper .elevator {
    width: 18rem;
    height: 18rem;
}
h5{
    font-weight: 400 !important;
font-size: 1.5rem;
}
.progress-container{
    margin-top: 7rem;
    height: 250px;
	width: 250px;
}
.grid-wrapper .elevator:hover{
    border: 5px solid var(--dark-purple)!important;
      }
  }
  .map-btn-top{
	display: none;
  }
  .large-screen{
	display: none;

  }
  .small-screen{
	display: block;
  }
  @media (min-width: 1280px) {
	.google-maps-sec .form-1{
		display: flex!important;
	}
	.google-maps-sec form{
		display: flex;
	
	}
	.map-btn-top{
		display: block;
	}
	.map-btn-below{
		display: none;
	}
	.google-maps-sec .btn-info{
		width: 17rem !important;
		
		border: none !important;
		color: var(--blue);
		position: absolute;
		top: 5.8rem;
		right: 5rem;

	}
	.google-maps-sec .form-1 input{
		width: 13rem;
		margin-right: 1rem;
	}
	.google-maps-sec .form-2 select{
		margin-right: 1rem;
		height: 2.3rem;
		width: 7rem;
	}
	.google-maps-sec{
		margin-top: 3rem;
		position: relative;
	}

	.google-map-sec-wrapper{
		margin: 0 auto;
		width: 1280px;
	}
	.google-maps-sec .title{
		margin-left: 4.3rem;
		margin-bottom: 2rem;
	}
	.google-maps-sec form{
		margin-left: 4.3rem;
	}
	.origin-input label{
		left: 1.5rem;
	}
	.destination-input label{
		left: 1.5rem;
	}
	.elevator-progress{
		display: flex;
	margin-left: 1.5rem;
		align-items: center;
	
	}
	.elevator-sec form{
		display: flex!important;
		margin-left: 21rem;
	}
	.elevator-sec{
		position: relative;
		margin-left: 2rem;
	    margin-bottom: 3rem;
	}
	.elevator-sec .end-button{
		position: absolute;
		top: 2rem;
		left: 1.5rem;
		top: 56.5rem;
		margin-bottom: 2rem ;

	}
	.grid-wrapper .elevator{
		width: 15rem;
		height: 15rem;
	}
	.elevator-sec .end-button button{
		margin-bottom: 4rem;
		margin: 0!important;
		height: 3rem;

	}
	.elevator-sec .title .one{
		width: 2.6rem;
		height: 2.6rem;
		font-size: 18px !important;
	}
	.progress{
		margin: 8rem;
	}
	.elevator-sec .elevator-directions{
		width: 36rem;
		padding: 2rem;
		margin: 0;
		margin-left: 1.5rem;
	}
	.elevator-sec .elevator-directions h4{
		font-size: 1.4rem;
	}
	.elevator-sec .elevator-directions p{
		margin-top: 1rem !important;
	}
	.elevator-sec .elevator-directions .icon-div i{
		font-size: 24px;
	}
	.main{
		width: 1280px;
		margin: 0 auto;
	}
	.elevator-sec .timeinput select{
		height: 2.3rem;
	}
	.timeinput .form-1 label{
	left: 1.3rem;
	top: 1.2rem;
	}
	.elevator-sec .title h3{
		font-size: 1.8rem;
	}
	.timeinput .form-2 label{
		left: 1.3rem;
		top: 1.2rem;
	}
	
	
	.progress-title{
		top: 9.2rem;
		left:10.1rem;
	}
	.progress-text{
		top: 67px;
		font-size: 2rem;
		margin-left: 0.3rem;
	}
	.elevator-sec p {
		font-size: 14px !important;
	}
	.elevator-sec .elevator-directions h4 {
		font-size: 1.5rem;
	}
	.elevator-sec .elevator-directions .icon-div i {
		font-size: 26px;
	}
  }
input , select {
	background-color: #c9d3dd !important;
}
/* 

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap');

*{
	border: 1px solid blue;
	box-sizing: border-box;
}body{
	background-color: #F9F5FF;
	font-family: 'Inter', sans-serif;

}

.foreground{
	background-color:white;
	border-radius: 30px 30px 0px 0px;
	width: 85%;
	height: 1000px;
	margin: 100px AUTO;
}
h1{
	font-family: 'Inter', sans-serif;
	font-size: 2em;
	font-style: lighter;
	font-weight: 200;
	text-align: center;
	padding-top: 50px;
}
.timeinput{
	display: flex;
	flex-direction: row;
	/* row-gap: 30px; */
	/* width:45vw;
	justify-content: space-between;
	margin: auto; */
/* 
}

.timeinput >*{
width: 30%;
height: 60px;
font-size: 20px;
border-radius: 30px;
padding: 0 20px;
border: 2px solid #bb8eff;
}

.time1{
	position: relative;
	width: 100px;
	height: 100px;
	border: 4px solid #bb8eff;
	border-radius: 20px;
	display:grid;	
}

/* for the dropdown indicator */
/* select {
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 1em;
}

.buttoncontainer{
	margin: 50px auto;
	display:flex;
	width:45vw;
	justify-content: center;
	
}
.buttoncontainer div{
margin: 0 20px;
}

.buttoncontainer button{
	box-sizing: border-box;
	width: 100%;
	background: white;
	border: 10px solid #bb8eff;
	border-radius: 20px;
	aspect-ratio: 1 / 1;
}
.buttoncontainer h1{
	margin: 0;
	padding: 0;
	font-size: 1.5em;
	font-weight:400;
}

.progress-container{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
	width: 200px;
	margin: auto;
  	border-radius: 50%;
  	background: 
    radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient( #bb8eff 75%, lightgrey 0);
	font-size: 2em;
}
.progress-container {
	position: relative;
	width: 100px;
	height: 100px;
	margin: 20px auto;
  }
  .progress-container::before {
	content: '';
	position: absolute;
	top: -2.5rem;
  left: -37px;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	border: 5px solid #ccc;
	border-top-color: co;
	transform: rotate(-90deg);
	box-sizing: border-box;
  }
  .progress-container .percentage {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 24px;
	font-weight: bold;
  }
  .progress-container .percentage::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	border: 5px solid red;
	border-top-color: lightblue;
	transform: rotate(180deg);
	box-sizing: border-box;
  }

#stat {
	justify-content: center;
	border: none;
	align-items: center;
}  */
 

/* Some basics to make it easier to read. */


/* body {
	--spacing: 2em;

	display: grid;
	gap: var(--spacing);
	margin: initial;
	padding: var(--spacing);
}

form {
	background-color: whitesmoke;
	border-radius: calc(var(--spacing) / 2);
	display: grid;
	gap: var(--spacing);
	padding: var(--spacing);
} */



/* MEDIA QUERIES

@media (min-width: 768px) {
	header {
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	}
	
	main {
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: space-between;
	}
	
	section {
	  width: calc(50% - 20px);
	}
	
	footer {
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	}
  }
  
  @media (min-width: 1200px) {
	section {
	  width: calc(33.33% - 20px);
	}
  }
   */